@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

nav{
      background: linear-gradient(to right, #00373e, #ffffff);

}

body {
  font-family:  fantasy, serif;
  background: linear-gradient(to right, #00373e, #ffffff);
}
.booking {
  background: linear-gradient(to right, #00373e, #ffffff);
}


